<html>
  <body>
    <ul>
      <% versions.forEach(function(version) { %>
        <li>
          <a href="/<%= document %>/<%= version %>.html"><%= version %></a>
          (<a href="/<%= document %>/<%= version %>.pdf">PDF</a>)
        </li>
      <% }); %>
    </ul>
  </body>
</html>
